<nav class="header">
    <ul class="header-items container">
        <li class="header-item">
            <a href="" class="header-text">Inicio</a>
        </li>
        <li class="header-item">
            <a href="" class="header-text">Conoce al IMSS</a>
        </li>
        <li class="header-item">
            <a href="" class="header-text">Transparencia</a>
        </li>
        <li class="header-item">
            <a href="" class="header-text">Directorio</a>
        </li>
        <li class="header-item">
            <a href="" class="header-text">Contacto ciudadano</a>
        </li>
    </ul>
</nav>